.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 330px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form h1{
    font-size:50px;
    text-align: center;
    margin-bottom: 20px;
    color:#00909e;
}
form input[type='text'], input[type='password']{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background: #f6f6f6;
    border: none;
}

form input[type='submit']{
    font-size: 25px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    background: #00909e;
    color: white;
    cursor: pointer;
}
form input[type='submit']:disabled{
    cursor:not-allowed;
}

.container .register{
    display: flex;
    justify-content: center;
    color: #00909e;
    font-size: 19px;
}

.mensaje{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    border-radius: 7px;
    background: #00909e;
    color: #f6f6f6;
    border: none;
    margin: 15px;
}

.mensaje span{
    font-size: 20px;
}